h1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:28px;
	color: #d30080;
	font-weight:bold;
	margin:1;
	padding:1;
	}

h2{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:20px;
		color: #d30080;
		font-weight:bold;
		margin:1;
		padding:1;
}

h3{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:16px;
		color: #d30080;
		font-weight:bold;
		margin:1;
		padding:1;
}

hr {
	border:none;
	border-top:1px solid #CCCCCC;
	height:1px;
	margin-bottom:25px;
	}

#stylefour{
	position:relative;
	display:block;
	height:45px;
	font-size:14px;
	font-weight:bold;
	background:transparent url(bgOFF.gif) repeat-x top left;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	border-top:4px solid #d30080;
	border-bottom: 4px solid #d30080;

	}

#stylefour ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;
	}

#stylefour ul li{
	display:block;
	float:left;
	margin:0;
	}

#stylefour ul li a{
	display:block;
	float: left;
	color:#666;
	text-decoration:none;
	padding:11px 30px 11px 30px;
	height:23px;
	background:#FFDBE9 url(bgDIVIDER.gif) no-repeat top right;
	}

#stylefour ul li a:hover,#stylefour ul li a.current{
	color:#d30080;
	background:#a9a9a9 url(bgON.gif) no-repeat top right;
	}


	body {
		background-color: #fe81cc;
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */
	}

	input[type=text], select, textarea {
	  padding: 12px;
	  border: 1px solid #808080;
	  border-radius: 4px;
	  resize: vertical;
	}
	input[type=email], select, textarea {
		padding: 12px;
		border: 1px solid #808080;
		border-radius: 4px;
		resize: vertical;
	}

	label {
	  padding: 12px 12px 12px 0;
	  display: inline-block;
	}

	input[type=submit] {
	  background-color: #4CAF50;
	  color: white;
	  padding: 12px 20px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  float: right;
	}

	input[type=submit]:hover {
	  background-color: #45a049;
	}

}
